{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Paramètres{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid mt-5">
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-6 offset-md-3 mt-4">
                <div class="shadow bg-footer p-5 rounded ">
                    <h1 class="text-center text-white">Paramètres</h1>
                    <div class="mt-3">
                        {{ form_start(form) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
